<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Login</title>
  </head>
  <body>
    <!-- <script type="text/javascript"> -->
    <!--   window.fbAsyncInit = function() { -->
    <!--     FB.init({ -->
    <!--       appId      : '1075783772493599', -->
    <!--       xfbml      : true, -->
    <!--       version    : 'v2.6' -->
    <!--     }); -->
    <!--   }; -->

    <!--   (function(d, s, id){ -->
    <!--     var js, fjs = d.getElementsByTagName(s)[0]; -->
    <!--     if (d.getElementById(id)) {return;} -->
    <!--     js = d.createElement(s); js.id = id; -->
    <!--     js.src = "//connect.facebook.net/en_US/sdk.js"; -->
    <!--     fjs.parentNode.insertBefore(js, fjs); -->
    <!--   }(document, 'script', 'facebook-jssdk')); -->
    <!-- </script> -->
    <script>
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
    </script>
    <h1>Welcome to facebook login</h1>
    <!-- <div -->
    <!--    class="fb-like" -->
    <!--    data-share="true" -->
    <!--    data-width="450" -->
    <!--    data-show-faces="true"> -->
    <!-- </div> -->
  </body>
</html>
